################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StoreProject.slnx
/StoreProject.slnx
/StoreProject.slnx
